.app {
  margin: auto;
  width: 30em;
}

.width-100 {
  width: 100%;
}

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mr-05 {
  margin-right: 0.5em;
}

.mb-05 {
  margin-bottom: 0.5em;
}

.text-xs {
  font-size: x-small;
}

.text-lg {
  font-size: large;
}

.text-xl {
  font-size: x-large;
}

.text-strikethrough {
  text-decoration: line-through;
}

.text-bold {
  font-weight: bold;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026'; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

.flex {
  display: flex;
}

.flex-grow {
  flex: 1;
}

.space-between {
  justify-content: space-between;
}

.align-baseline {
  align-items: baseline;
}

.opacity-50 {
  opacity: 0.5;
}

.pointer-hover:hover {
  cursor: pointer;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: lightgray;
}

/* 
 * On/Off Switch
 */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 0.5px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}