.app {
  margin: auto;
  width: 30em;
}

.width-100 {
  width: 100%;
}

.mt-1 {
  margin-top: 1em;
}

.mr-05 {
  margin-right: 0.5em;
}

.mb-05 {
  margin-bottom: 0.5em;
}

.text-xs {
  font-size: x-small;
}

.text-strikethrough {
  text-decoration: line-through;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026'; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: flex-end;
}

.pointer-hover:hover {
  cursor: pointer;
}
